/* Site Styles*/
* {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	box-sizing: border-box;
}
*:after, *:before {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	font-size: 16px;
}
html, body {
	height: 100%;
}
a {
	text-decoration: none;
	outline: none;
	transition: all 450ms ease-in-out 0s;
	-webkit-transition: all 450ms ease-in-out 0s;
	-moz--transition: all 450ms ease-in-out 0s;
}
a:hover {
	outline: none;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
	
}
/*clearfix to clear float */
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
input {
	outline: none;
}
input:focus {
	outline: none;
}
input::-moz-focus-inner {
	outline:none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	border: none;
	cursor: pointer;
}
textarea {
	resize: none;
	outline: none;
	font-family: inherit;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
th{
	text-align: center;
}
tr{
	text-align: center;
}
.m100{
	margin: 100px 0;
}
.p10{
	padding: 10px;
}
.grey {
  background: #ccc;
}
.green {
  color: #008000;
}
.greyE {
  background: #eee;
}
.mLeft{
	margin-left: 60px;
}
.border{
	border: 1px solid #000;
}
.border1{
	border: 1px solid #fff;
}

/* Header section */
.main-header {
	padding: 8px 0;
	background: none;
	background-color: blue;
	width: 100%;
}
.main-header .navbar-brand {
	font-size: 35px;
	float: left;
	color: #00f0ff;
	padding: 0;
	font-weight: none;
}
.navbar-collapse {
	padding: 0;
}
.main-header a {
	color: #727f84;
}
.main-header ul li {
	padding: 0 0 0 10px;
}
.main-header ul li a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.main-header ul li:last-child {
	padding-right: 0;
}
.main-header ul li a:hover,
.main-header ul li.active a {
	color: #00f0ff;
	background: none;
}
.main-header ul {
	padding: 0;
}
.navbar {
	padding: 0;
	margin: 0;
}
.navbar .navbar-header a {
	padding: 15px 0 20px 0;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
.navbar-toggle {
	background: #00f0ff;
}
.main-header .navbar ul li a {
	border-bottom: 3px solid transparent;
}
.main-header .navbar ul li a:hover, .main-header .navbar ul li.active a {
	padding-bottom: 11px;
	color: #00f0ff;
	background: #fff;
	border-bottom: 3px solid #00f0ff;
}


.button-outer {
	padding: 13px 20px 13px 20px;
}
.btn {
	background: #00f0ff;
	border: none;
	border-radius: 1;
	font-size: 12px;
}
.btn-upper {
	background: none;
	border: 5px solid #00f0ff;
	border-radius: 0;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 22px 14px 22px 14px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.btn-upper:hover, .btn-upper:focus {
	color: #fff;
  text-decoration: none!important;
}
.btn:hover {
	background-color: #70b9b0;
}


/* footer section */
.footer {
	background: blue;
	width: 100%;
	padding: 10px 0;
}
.copyright p {
	color: #00f0ff;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

